<button (click)="logout()" class="button danger cursor-pointer" id="alignBtn">Sair</button>
<div class="card">
    <div class="formbg">
        <div class="card__content__generic">
            <button (click)="redirectCreateDragon()" class="button cursor-pointer margin-right-10" id="botao">Add Dragon-Credi</button>
        </div>

        <table class="card__table" id="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Data de criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody *ngIf="!dragonsList.length">
                <tr class="centered">
                    <td colspan="4" class="centered">
                        Nenhum Dragon-Credi cadastrado.
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dragonsList.length">
                <tr *ngFor="let dragon of dragonsList | arraySort: 'name'">
                    <td (click)="redirectShowDetailsDragon(dragon.id)" class="cursor-pointer">{{dragon.name}}</td>
                    <td (click)="redirectShowDetailsDragon(dragon.id)" class="cursor-pointer">{{dragon.type}}</td>
                    <td (click)="redirectShowDetailsDragon(dragon.id)" class="cursor-pointer">{{dragon.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <a class="cursor-pointer" (click)="redirectEditDragon(dragon.id)">Editar</a>&nbsp;
                        <a class="cursor-pointer" (click)="deleteDragon(dragon.id)" style="color:crimson;">Deletar</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>